.customers_section { padding: 50px 0; }
.customers_section ul { margin-bottom: 0; }
.customers_section .text-box { padding: 20px; text-align: center; }
.customers_section li { margin-bottom: 0; }
.customers_section li h3 { font-size: 50px; color: #753f6a; margin: 0; font-weight: 300; padding-bottom: 0; }
.customers_section li h3 span { display: block; font-size: 15px; margin-top: -10px; padding-bottom: 5px; font-weight: 600; }
.customers_section li h6 { color: #2b2d41; font-size: 15px; line-height: 25px; font-weight: 300; margin: 0; }