@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;outline:0;padding:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
body{font-family: 'Poppins', sans-serif;font-size:15px;color:#747474;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;background:#fff}
ul,ol{margin:0 0 10px 25px}
ol{list-style:square}
ul{list-style:none}
ol:after,ul:after{content:"";display:block;line-height:0;clear:both;overflow:hidden;height:0}
ul ul,ol ul,ul ol,ol ol{margin-bottom:0}
li{margin:10px 0}
pre{padding:.1em .5em .3em .7em;border-left:11px solid #ccc;margin:1.7em 0 1.7em .3em;overflow:auto;max-width:500px}
code,samp,kbd{text-align:left;color:#555}
pre code{line-height:1.6em;font-size:11px}
table{margin:25px auto;border-collapse:collapse;border:1px solid #eee;width:100%}
table th{background:#0cc;color:#fff;text-transform:uppercase;font-size:12px;border:1px solid #eee;padding:12px 35px}
table td{color:#999;border:1px solid #eee;padding:12px 35px}
table th,td{font-weight:400;text-align:left;vertical-align:middle}
table tbody tr:nth-child(2n){background:#fff;}
caption{font-weight:400;text-align:left}
h1,h2,h3,h4,h5,h6{color:#586778;font-weight:400}
h1{font-size:60px;margin:5px 0 15px}
h2{font-size:36px;margin:5px 0 15px}
h3{font-size:30px;margin:5px 0 15px}
h4{font-size:26px;margin:5px 0 15px}
h5{font-size:20px;margin:5px 0 15px}
h6{font-size:18px;margin:5px 0 15px}
p{margin:5px 0 15px;line-height:26px}
em{font-style:italic}
strong{font-weight:700}
small{font-size:80%}
img{-ms-interpolation-mode:bicubic;border:0;height:auto;max-width:100%; display:block;}
figure{margin:0}
img{image-rendering:-moz-crisp-edges;image-rendering:-o-crisp-edges;image-rendering:-webkit-optimize-contrast;image-rendering:crisp-edges;-ms-interpolation-mode:nearest-neighbor;object-fit:cover}
a{color:#f2a755;outline:0 none;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}
a:hover{text-decoration:none}
a.more{padding-left:28px;color:#7a594c;display:inline-block;position:relative;letter-spacing:.2px;font-family:'Arial, Helvetica, sans-serif'}
a.more:before{content:"\f0a9";font-size:130%;position:absolute;left:0;top:-4px;font-family:fontawesome}
a.more:hover{color:#c2ead6}
::-webkit-input-placeholder{color:rgba(51,51,51,0.7)}
:-moz-placeholder{color:rgba(51,51,51,0.7)}
::-moz-placeholder{color:rgba(51,51,51,0.7);opacity:1}
:-ms-input-placeholder{color:rgba(51,51,51,0.7)}
fieldset{border:0 none}
input[type="text"],input[type="email"],input[type="number"],input[type="password"],input[type="email"],input[type="tel"],textarea,select{border:1px solid #ececec;padding:12px 13px;outline:none;font-size:15px;color:#c1c1c1;margin:0;width:280px;max-width:100%;display:block;margin-bottom:20px;background:#fff;height:40px}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="tel"]:focus,textarea:focus{border:1px solid #ececec;color:#747474;-moz-box-shadow:0 0 3px rgba(0,0,0,.2);-webkit-box-shadow:0 0 3px rgba(0,0,0,.2);box-shadow:0 0 3px rgba(0,0,0,.2)}
input[type="text"]{position:relative}
input[type="text"]::-webkit-input-placeholder:before{position:absolute;top:0;left:0;background:#000;width:10px;height:10px;content:"";display:block}
select{padding:0 0 1px 9px;letter-spacing:.9px;color:#747474;height:42px;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;background:#fff url(../images/home/select-arrow.png) no-repeat scroll 100% center;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;text-indent:.01px;background-size:24px 40px}
select::-ms-expand{display:none}
select option{padding:7px 9px;border:1px solid #ececec;border-left:none;border-right:none;outline:none}
select:focus{padding:0 0 1px 9px;border:1px solid #ececec;color:#747474;background:#fff url(../images/home/select-arrow.png) no-repeat scroll 100% center;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;text-indent:.01px;background-size:24px 40px}
textarea{min-height:60px}
label,legend{display:inline-block;font-weight:700;font-size:13px}
label{cursor:pointer;margin-right:50px}
label:last-child{margin-right:0}
label span,legend span{font-weight:400;font-size:13px;color:#444}
.button,button,input[type="button"],input[type="Reset"]{padding:11px 29px 11px 30px;border:0 none;outline:none;color:#fff;cursor:pointer;display:inline-block;background:#f2a755;font-size:15px;font-family:'Arial, Helvetica, sans-serif';border-radius:6px;letter-spacing:.8px}
.button:hover,button:hover,input[type="button"]:hover,input[type="Reset"]:hover{text-decoration:underline}
input[type="submit"]{padding:8px 26px 8px 27px;border:0 none;outline:none;cursor:pointer;display:inline-block;border:3px solid #586778;color:#586778;font-size:15px;border-radius:6px;letter-spacing:.8px}
input[type="submit"]:hover{text-decoration:underline}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input[type="radio"]{display:none}
input[type="radio"] + label .check{display:inline-block;margin:-4px 4px 0 0;vertical-align:middle;width:20px;height:19px;background-size:20px 19px;cursor:pointer}
input[type="radio"]:checked + label .check{ background-size:20px 19px}
input[type="radio"]:disabled + label .check{background-size:20px 19px;cursor:not-allowed}
input[type="checkbox"]{display:none}
input[type="checkbox"] + label .check{display:inline-block;margin:-4px 4px 0 0;vertical-align:middle;width:20px;height:19px;background-size:20px 19px;cursor:pointer}
input[type="checkbox"]:checked + label .check{ background-size:20px 19px}
input[type="checkbox"]:disabled + label .check{background-size:20px 19px;cursor:not-allowed}
.container{max-width:1230px;padding-left:15px;padding-right:15px;margin:0 auto}
.clear{content:"";display:block;line-height:0;clear:both;overflow:hidden;height:0}
body{width:100%;margin:0 auto;position:relative;background: #fff; }