
	/*   RESPONSIVE MEDIA CSS  */

	@media only screen and (max-width: 1880px) {
		

	}


	@media only screen and (max-width: 1730px) {
		

	}

	@media only screen and (max-width: 1620px) {


	}

	@media only screen and (min-width: 1366px) and (max-width: 1440px){
		

	}

	@media only screen and (min-width: 1221px) and (max-width: 1365px) {


	}


	/* Custom */
	@media only screen and (min-width: 1025px) and (max-width: 1220px) {


	}


	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 1024px) {


	}
	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (min-width: 500px) and (max-width: 767px) {

		.header .left { max-width: 35%; }
		.header .right { max-width: 65%; padding-left: 0; }		
		.header .left a { width: 100px; display: inline-block; }		
		.header .right li { margin: 0 5px 0 0 !important; }
        .header .right a { font-size: 11px !important; padding: 0 !important; }
		.header .right li:last-child { margin: 0!important; }
		.header .right li:last-child a { padding: 0 !important; background: none; color: #753f6a; box-shadow: none; font-weight: 600; text-transform: capitalize; }

		.customers_section { padding: 30px 0 20px; }		
		.customers_section li h3 { font-size: 40px; }
		.customers_section li h6 { font-size: 14px; line-height: normal; }
		.customers_section .text-box { margin-bottom: 15px; padding: 20px; box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px; border-radius: 4px; }

		.Supplier_section { padding: 20px 0;}
		.Supplier_section h2 { font-size: 22px; padding-bottom: 20px; }
		.Supplier_section h2 span { color: #753f6a; }
		.Supplier_section li { margin-bottom: 15px; }
		.Supplier_section li:last-child { margin-bottom: 0; }
		.Supplier_section li:nth-child(2) .text-box, .Supplier_section li:nth-child(4) .text-box { margin: 0; }
		.Supplier_section li img { margin: 0 auto; }
		.Supplier_section .text-box { text-align: center; }
		.Supplier_section li p { line-height: normal; padding-top: 0; }
		
		.sign_up_form_main { padding: 0 0 30px;}
		.sign_up_form_main h2 { font-size: 22px; padding-bottom: 20px; font-weight: 500; }
		.main #show-video { height: 190px; }
		.sign_up_form_main .text p { font-size: 14px; line-height: normal; padding: 10px 0; }
		.sign_up_form { max-width: 100%; padding: 0; }
		.sign_up_form_main .left { padding: 0 15px; }
		.sign_up_form_main .right { padding: 0 15px; }
		.sign_up_form_main .right .inner { padding: 10px 10px 0; }
		.sign_up_form_main input.submit { width: 100% !important; }
		.sign_up_form_main .right label.no_data { display: none; }

		.Work_section { padding: 20px 0; }
		.Work_section h2 { font-size: 22px; padding-bottom: 20px; }
		.Work_section li { flex: auto; margin-bottom: 10px; }
		.Work_section li::before { display: none; }
		.Work_section h3 { font-size: 17px; }
		.Work_section p { line-height: normal; padding-top: 0; }
		.Work_section li:last-child { margin-bottom: 0; }

		.Support { padding: 20px 0;}
		.Support h2 { font-size: 25px; }
		.Support h2 span { margin-top: -5px; }
		.Support p {font-size: 14px; line-height: normal; padding: 10px 0 15px; }
		.Support .left { max-width: 15%; }
		.Support .right { max-width: 85%; }

		.footer { margin: 0; text-align: center; }	

		.header .mobile { display: block !important;} 
		.header .desktop { display: none !important;} 

		.reverse-section { display: flex; flex-direction: column-reverse; }
		
	}	

	@media only screen and (min-width: 320px) and (max-width: 499px) {
				
		.header .left { max-width: 35%; }
		.header .right { max-width: 65%; padding-left: 0; }		
		.header .left a { width: 100%; display: inline-block; }		
		.header .right li { margin: 0 5px 0 0 !important; }
        .header .right a { font-size: 11px !important; padding: 0 !important; }
		.header .right li:last-child { margin: 0!important; }
		.header .right li:last-child a { padding: 0 !important; background: none; color: #753f6a; box-shadow: none; font-weight: 600; text-transform: capitalize; }

		.customers_section { padding: 30px 0 20px; }		
		.customers_section li h3 { font-size: 40px; }
		.customers_section li h6 { font-size: 14px; line-height: normal; }
		.customers_section .text-box { margin-bottom: 15px; padding: 20px; box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px; border-radius: 4px; }

		.Supplier_section { padding: 20px 0;}
		.Supplier_section h2 { font-size: 22px; padding-bottom: 20px; }
		.Supplier_section h2 span { color: #753f6a; }
		.Supplier_section li { margin-bottom: 15px; }
		.Supplier_section li:last-child { margin-bottom: 0; }
		.Supplier_section li:nth-child(2) .text-box, .Supplier_section li:nth-child(4) .text-box { margin: 0; }
		.Supplier_section li img { margin: 0 auto; }
		.Supplier_section .text-box { text-align: center; }
		.Supplier_section li p { line-height: normal; padding-top: 0; }
		
		.sign_up_form_main { padding: 0 0 30px;}
		.sign_up_form_main h2 { font-size: 22px; padding-bottom: 20px; font-weight: 500; }
		.main #show-video { height: 190px; }
		.sign_up_form_main .text p { font-size: 14px; line-height: normal; padding: 10px 0; }
		.sign_up_form { max-width: 100%; padding: 0; }
		.sign_up_form_main .left { padding: 0 15px; }
		.sign_up_form_main .right { padding: 0 15px; }
		.sign_up_form_main .right .inner { padding: 10px 10px 0; }
		.sign_up_form_main input.submit { width: 100% !important; }
		.sign_up_form_main .right label.no_data { display: none; }

		.Work_section { padding: 20px 0; }
		.Work_section h2 { font-size: 22px; padding-bottom: 20px; }
		.Work_section li { flex: auto; margin-bottom: 10px; }
		.Work_section li::before { display: none; }
		.Work_section h3 { font-size: 17px; }
		.Work_section p { line-height: normal; padding-top: 0; }
		.Work_section li:last-child { margin-bottom: 0; }

		.Support { padding: 20px 0;}
		.Support h2 { font-size: 25px; }
		.Support h2 span { margin-top: -5px; }
		.Support p {font-size: 14px; line-height: normal; padding: 10px 0 15px; }
		.Support .left { max-width: 15%; }
		.Support .right { max-width: 85%; }

		.footer { margin: 0; text-align: center; }				

		.header .mobile { display: block !important;} 
		.header .desktop { display: none !important;} 
		.reverse-section { display: flex; flex-direction: column-reverse; }

	}

	@media only screen and (min-width:414px) and (max-width:499px){

		.main #show-video { height: 212px; }
		.header .right a { font-size: 13px !important; }
		.header .mobile { display: block !important;} 
		.header .desktop { display: none !important;} 

		.reverse-section { display: flex; flex-direction: column-reverse; }

	}

