.Work_section { padding: 50px 0 70px; text-align: center; }
.Work_section h2 { font-size: 30px; text-align: center; color: #111; font-weight: 500; margin: 0; padding-bottom: 40px; }
.Work_section ul { margin-bottom: 0; }
.Work_section li { margin-bottom: 0; position: relative; }
.Work_section li::before { position: absolute; top: 20px; left: 0; content: ''; background: #c269b0; width: 100%; height: 1px; }
.Work_section li:first-child:before { width: 50%; left: inherit; right: 0; }
.Work_section li:last-child:before { width: 50%; }
.Work_section span { width: 40px; height: 40px; line-height: 40px; background: #c269b0; border-radius: 50%; display: inline-block; color: #fff; position: relative; z-index: 9; }
.Work_section h3 { color: #111; font-size: 18px; line-height: 23px; font-weight: 500; margin: 0; padding-top: 10px; text-transform: capitalize; }
.Work_section p { color: #3b3b3b; font-size: 14px; line-height: 20px; margin: 0; padding-top: 5px; }
.Work_section p a { display: inline-block; color: #c269b0; text-decoration: none; }