.Support { padding: 40px 0; background: #f9f9f9; }
.Support h2 { font-size: 28px; color: #111; margin: 0; font-weight: 600; } 
.Support h2 span { color: #c269b0; display: block; }
.Support p { font-size: 15px; line-height: 25px; color: #333; margin: 0; padding-bottom: 30px; }
.Support .mail-row { align-items: center; }
.Support h4 { font-size: 15px; color: #333; margin: 0; }
.Support .left { padding-right: 0; }
.Support .left a { display: inline-block; padding: 5px 10px; background: #c269b0; border-radius: 4px; }
.Support .left a img { width: 25px; }
.Support .right a { font-size: 15px; line-height: 25px; color: #c269b0; margin: 0; display: inline-block; text-decoration: none; }
