.sign_up_form_main { padding: 30px 0;}
.sign_up_form_main h2 { font-size: 30px; text-align: center; color: #c269b0; font-weight: 300; margin: 0; padding-bottom: 40px; }
.sign_up_form { max-width: 960px; width: 100%;margin: 0 auto; background: #fafafa; border: 1px solid #ececec;
    border-radius: 0.375rem; box-shadow: 0 0 13px 3px rgb(0 0 0 / 5%); padding-right: 15px; }
.sign_up_form_main .left  { padding-right: 0; }
.sign_up_form_main .right { padding-top: 20px; padding-right: 10px; }    
.sign_up_form_main .right li { margin-bottom: 10px; }
.sign_up_form_main .right label { font-size: 14px; font-weight: 300; color: #111; padding-bottom: 5px; cursor: default; }
.sign_up_form_main .right label sup { top: 0; right: 2px; color: red; }
.sign_up_form_main input { width: 100% !important; height: 35px !important; margin: 0 !important; border-radius: 3px; }
.sign_up_form_main select { width: 100% !important; height: 35px !important; margin: 0 !important; border-radius: 3px; }
.sign_up_form_main input.submit { font-weight: 500; float: right; width: 120px!important;  border: none!important; background: #c269b0;
    color: #fff!important; text-transform: uppercase; padding: 0!important; height: 35px; margin-top: 10px !important; border-radius: 3px; }
.sign_up_form_main .text { padding: 0 15px; text-align: center; background: #fff; }
.sign_up_form_main .text p { font-size: 17px; color: #cd68a0; margin: 0; padding: 20px 0; line-height: 23px; font-weight: 400; }
.sign_up_form_main .text p span { display: block; }
.main #show-video { height: 266px; }
.poster { position: relative; z-index: 999; padding: 0; background: none; border-radius: 0; }
#show-video { width: 100%; }