.track_section_info .info { webkit-box-shadow: 0 0 7px 2px rgb(0 0 0 / 5%); box-shadow: 0 0 7px 2px rgb(0 0 0 / 5%); background: #fff; border-radius: 4px; margin-top: 40px; }
.track_section_info .info_inner { padding: 10px; border-bottom: 1px solid #eee; }
.track_section_info .order-placed { padding: 10px; }
.track_section_info ul { margin-bottom: 0; list-style: none; }
.track_section_info li { margin-top: 0; margin-bottom: 0; }
.track_section_info span { font-size: 12px; color: #8d8d8d; display: block; }
.track_section_info b { font-size: 12px; color: #4a4a4a; }


.order_status_section { margin-top: 20px; }
.order_status_section .text { display: none; }
.order_status_section .status { background: #fff; padding: 15px; }
.order_status_section h3 { font-size: 15px; color: #4a4a4a; margin: 0; padding-bottom: 15px; text-transform: capitalize; font-weight: 500; letter-spacing: 0.5px; }
.order_status_section table { border: none; margin: 0; }
.order_status_section tr { background: #f7f7f7; }
.order_status_section tr:last-child td.first:after { display: none; }
.order_status_section td { font-size: 12px; color: #8d8d8d; margin: 0; padding: 10px 15px; border: none; position: relative; }
.order_status_section td.first:before { width: 10px; height: 10px; position: absolute; top: 30%; right: 0; content: ""; background: #3cb53c; border-radius: 50%; }
.order_status_section td.first:after { width: 2px; height: 100%; position: absolute; top: 30%; right: 4px; content: ""; background: #3cb53c; }
.order_status_section td.last:after { display: none; }
.order_status_section b { color: #4a4a4a; }

.table_inner { height: 430px; overflow: auto; }


@media only screen and (min-width: 768px) and (max-width: 1920px) {
    .table_inner::-webkit-scrollbar-track { background-color: #ddd; }
    .table_inner::-webkit-scrollbar { width: 8px; background-color: #ddd; }
    .table_inner::-webkit-scrollbar-thumb { background-color: #65365a; border-radius: 30px; }
    .banner_section_mobile { display: none; }
}
@media only screen and (min-width: 320px) and (max-width: 499px) {

    .table_inner { height: 390px; }
    .track_section_info span { display: inline-block; margin-right: 5px; }
    .footer { margin-top: 20px; }
    .footer .social ul { float: none !important;}
    .footer p { float: none; }
    .footer .social li { float: none; display: inline-block; }
    .track_section_info .info { margin-top: 20px; }
    .banner_section_mobile { display: block !important; }
    .banner_section { display: none;}
    .header img { margin: 0 auto; }
    .side-image { display: none; }


}