.footer { padding: 15px 0 5px; background: #f1f1f1; }
.footer p { font-size: 15px; color: #333; float: right; margin: 0; font-size: 13px; }
.footer .social ul { float: left !important; list-style: none; margin: 0; }
.footer .social { width: 100%; }
.footer .social li { padding: 0 !important; float: left; margin: 0 5px 0 0 !important; }
.footer .social li:last-child { margin-right: 0 !important; }
.footer .social ul { margin: 0 !important; float: right; }
.footer .social li a { display: inline-block; background: #00acee; width: 25px; height: 25px; text-align: center; border-radius: 4px; padding: 0; box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; }
.footer .social li a:hover { transition: all .8s; transform: translateY(-3px); margin-top: -10px; }
.footer .social li a i { line-height: 26px; color: #fff; font-size: 16px; }
.footer .social li:first-child a { background: #4267B2; }
.footer .social li:last-child a { background: #8a3ab9; }