

.banner_section.mobile { display: none; }
.banner_main a { display: inline-block; width: 100%; }

@media only screen and (min-width: 320px) and (max-width: 768px) {

    .banner_section.desktop { display: none; }
    .banner_section.mobile { display: block !important; }

}