.Supplier_section { background: rgba(231, 238, 255, 0.4); padding: 30px 0 40px; }
.Supplier_section h2 { font-size: 30px; text-align: center; color: #111; font-weight: 500; margin: 0; padding-bottom: 70px; }
.Supplier_section .text-box { padding: 20px; border-radius: 10px; background-color: #fff; transition: all 0.5s ease; height: 100%; }
.Supplier_section li { margin-bottom: 0; }
.Supplier_section li img { width: 50px; }
.Supplier_section li h3 { color: #000; font-size: 18px; line-height: 28px; font-weight: 600; margin: 0; padding-top: 10px; }
.Supplier_section li p { color: #3b3b3b; font-size: 14px; line-height: 24px; margin: 0; padding-top: 10px; }
.Supplier_section li:nth-child(2) .text-box { margin-top: -30px; }
.Supplier_section li:nth-child(4) .text-box { margin-top: -30px; }
.Supplier_section li:hover:nth-child(2) .text-box, .Supplier_section li:hover:nth-child(4) .text-box { margin-top: 0; }