.header { box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 10%); padding: 10px 0; position: sticky; top: 0; left: 0; width: 100%; z-index: 99; background: #fff; }
.header .row { align-items: center; }
.header .right { text-align: right;}
.header .right a { font-weight: 500; color: #000; font-size: 15px; text-decoration: none; }
.header .right ul { list-style: none; margin: 0; float: right; }
.header .right li { margin: 0 10px; float: left; }
.header .right li:first-child { margin-left: 0; }
.header .right li:last-child { margin-right: 0; }
.header .right li:last-child a { border-radius: 5px;  font-size: 13px; font-weight: 500; padding: 0.5rem 1rem; color: #fff; text-transform: uppercase; background: #753f6a; box-shadow: rgba(107, 96, 96, 0.15) 0px 3px 3px 0px; text-decoration: none; }
.mobile { display: none;}
